<div class="right_col" role="main">
  <div class="row">
      <div class="x_panel">
        <div class="x_content">
          <div class="col-md-6 col-sm-12 col-12-xs">
            <div class="x_title">
              <h2>Edit <strong><%=@list.name%></strong></h2>
              <div class="clearfix"></div>
            </div>
            <%= render 'form', list: @list %>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_title">
              <h2>Add/remove <strong><%=@list.name%></strong> subscribers</h2>
              <div class="clearfix"></div>
            </div>
            <%= render 'partials/list_subscribers', list_subscribers: @list_subscribers, list: @list %>
            <%= render 'partials/list_subscribers_modal', list: @list%>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>

