<!DOCTYPE html>
<html>
  <head>
    <title>Do it!</title>
    <%= csrf_meta_tag%>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md" >
  <div class="container body" data-turbolinks="false">
    <% flash.each do |key, value| %>
        <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= render "partials/sidenav" %>

    <div id="main">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>

  </div>
  </body>
</html>
